{% extends "diagnosis/diagnosis_main.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class = "container" style = "background-color: #f2f2f2; padding-bottom: 20px;">
    <h1>Enter CVD Information</h1><br>
    <form method = "POST" style = "width: 50%;">
        {% csrf_token %}
        <fieldset class = "form-group">
            <label for = "ap_hi">Systolic Blood Pressure:</label>
            <input class = "form-control" name = "ap_hi" type = "number" id = "ap_hi" step = "any">
        </fieldset>
        <fieldset class = "form-group">
            <label for = "ap_lo">Diastolic Blood Pressure:</label>
            <input class = "form-control" name = "ap_lo" type = "number" id = "ap_lo" step = "any">
        </fieldset>
        <fieldset class = "form-group">
            <label for = "gluc">Glucose Level:</label>
            <select name = "gluc" id = "gluc" class = "form-control">
                <option value = "1">Normal</option>
                <option value = "2">Above Normal</option>
                <option value = "3">Well above normal</option>
            </select>
        </fieldset>
        <div class = "form-group">
            <button type = "submit" class = "btn btn-success" style = "margin-right: 10px;">Submit</button>
            <a class = "btn btn-primary" id = "Login" href = "{% url 'diagnosis-home' %}">Create Account</a>
        </div>
    </form>
</div>
{% endblock %}