{% extends "diagnosis/diagnosis_main.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class = "container" style = "background-color: #f2f2f2; padding-bottom: 20px;">
    <h1>Enter CHD Information</h1><br>
    <form method = "POST">
        {% csrf_token %}
        <fieldset class = "form-group">
            <input name = "sbp" type = "number" step = "any">
            <input name = "tobacco" type = "number" step = "any">
            <input name = "ldl" type = "number" step = "any">
            <input name = "adiposity" type = "number" step = "any">
            <select name = "famhist">
                <option value = "1">Yes</option>
                <option value = "0">No</option>
            </select>
            <input name = "typea" type = "number" step = "any">
            <input name = "alcohol" type = "number" step = "any">
        </fieldset>
        <div class = "form-group">
            <button type = "submit" class = "btn btn-success" style = "margin-right: 10px;">Submit</button>
            <a class = "btn btn-primary" id = "Login" href = "{% url 'diagnosis-home' %}">Create Account</a>
        </div>
    </form>
</div>
{% endblock %}