{% extends "diagnosis/diagnosis_main.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class = "container" style = "background-color: #f2f2f2; padding-bottom: 20px;">
    <h1>Enter General Information</h1><br>
    <form method = "POST" style="width: 50%;">
        {% csrf_token %}
        <input name = "id" type = "hidden" value = "1">
        <fieldset class = "form-group">
            <label for = "age">Age (years):</label>
            <input class = "form-control" name = "age" id = "age" type = "number">
        </fieldset>
        <fieldset class = "form-group">
            <label for = "weight">Weight(kg):</label>
            <input class = "form-control" name = "weight" id = "weight" type = "number" step = "any">
        </fieldset>
        <fieldset class = "form-group">
            <label for = "height">Height(m):</label>
            <input class = "form-control" name = "height" id = "height" type = "number" step = "any">
        </fieldset>
        <fieldset class = "form-group">
            <label for = "sex">Sex:</label>
            <select class = "form-control" name = "sex" id = "sex">
                <option value = '1'>Male</option>
                <option value = '0'>Female</option>
            </select>
        </fieldset>
        <fieldset class = "form-group">
            <label for = "smoke">Smoking Habit?</label>
            <select class = "form-control" name = "smoke" id = "smoke">
                <option value = "1">Yes</option>
                <option value = "0">No</option>
            </select>
        </fieldset>
        <fieldset class = "form-group">
            <label for = "alcohol">Alcohol consumption?</label>
            <select class = "form-control" name = "alcohol" id = "alcohol">
                <option value = "1">Yes</option>
                <option value = "0">No</option>
            </select>
        </fieldset>
        <fieldset class = "form-group">
            <label for = "physical_activity">Physically activity?</label>
            <select class = "form-control" name = "physical_activity" id = "physical_activity">
                <option value = "1">Yes</option>
                <option value = "0">No</option>
            </select>
        </fieldset>
        <fieldset class = "form-group">
            <label for = "heart_rate">Heart Rate:</label>
            <input class = "form-control" name = "heart_rate" type = "number" step = "any" id = "heart_rate">
        </fieldset>
        <fieldset class = "form-group">
            <label for = "cholesterol">Cholesterol Level:</label>
            <select class = "form-control" name = "cholesterol" id = "cholesterol">
                <option value = "1">Normal</option>
                <option value = "2">Above Normal</option>
                <option value = "3">Well above normal</option>
            </select>
        </fieldset>
        <div class = "form-group">
            <button type = "submit" class = "btn btn-success" style = "margin-right: 10px;">Submit</button>
        </div>
    </form>
</div>
<div class = "container" style = "background-color: #f2f2f2; padding-bottom: 20px;">
    <form method = "POST" style = "width: 50%;" enctype="multipart/form-data">
        <h1>Upload .csv file for multiple patients</h1>
        {% csrf_token %}
        <input name = "id" type = "hidden" value = "2">
        <div class = "form-group">
            <label for = "file">Upload File Here:</label>
            <input type = "file" name = "file" id = "file" class = "form-control">
        </div>
        <div class = "form-group">
            <button type = "submit" class = "btn btn-success" style = "margin-right: 10px;">Submit</button>
        </div>
    </form>
</div>
{% endblock %}